<!DOCTYPE html>
<html>
<head>
  <title>Logintemplate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if flash[:nav] %>
		<div style ='color:red;margin-left:20px;'><%=flash[:nav] %></div>
	<% end %>
  <%if current_user %>
    Hi <%= current_user.first_name %> <%= current_user.last_name %>
  <%end %>
<div class='header col-md-4 pull-right'>
	<% if current_user  && request.env['PATH_INFO']=='/dashboard'%>
	  <%= link_to 'Go To All Products', products_path %> | <%= link_to "Logout", '/logout' %>
	<% elsif current_user  && request.env['PATH_INFO']=='/products' %>
    <%= link_to 'Dashboard', '/dashboard' %> | <%= link_to "Logout", '/logout' %>      
  <% end %>
</div>

<div id="main-container" class="container">
  <div class="row">

    <div class="col-xs-9">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
